<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Category Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Category Page!</h1>
    <nav>
      <%- include("./partials/_nav") %>
    </nav>

    <main class = "container">
      <div><h2>Plants</h2></div>
      <div>
        <div><h4>price</h4></div>
        <form action="/category" method="GET">
          <% for(let product of products) { %>
            <div> <%= product.title %> </div>
            <div> <%= product.description %> </div>
            <img img src="<%= product.thumbnail_image_url %>" alt="picture of plant products" style="width:20%">
            <% } %>
        </form>

        <form action="/categorybyprice" method="POST">
          <input type="hidden" id="0" name="min" value="0">
          <input type="hidden" id="20" name="max" value="20">
          <button type="submit" class="btn btn-primary">0-20</button>
          <!-- <% for(let product of products) { %>
            <div> <%= product.title %> </div>
            <% } %> -->
        </form>
        <form action="/categorybyprice" method="POST">
          <input type="hidden" id="20" name="min" value="20">
          <input type="hidden" id="40" name="max" value="40">
          <button type="submit" class="btn btn-primary">20-40</button>
          <!-- <% for(let product of products) { %>
            <div> <%= product.title %> </div>
            <% } %> -->
        </form>
      </div>
      <div>


        <form method="GET" action="/product/1">
          <div class="product-listing">
            <button type="submit" class="btn btn-primary">
              product 1
            </button>
          </div>
        </form>

        <form method="GET" action="/product/2">
          <div class="product-listing">
            <button type="submit" class="btn btn-primary">
              product 2
            </button>
          </div>
        </form>

        <form method="GET" action="/product/3">
          <div class="product-listing">
            <button type="submit" class="btn btn-primary">
              product 3
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
